@import '../function';

.overlay {
  position:fixed;
  display:none;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#000;
  opacity:0.25;
  filter: alpha(opacity=25);
  z-index:$zindexModal;
}