@import './function';

.rui-button {
  @include simple-btn($text2, $primary);
  @include prefixer('border-radius', 6px 6px);
  @include prefixer('user-select', none);

  border:1px solid $border;

  &.primary {
    border:none;
    color: $white;
    background: $primary;

    &:hover {
      color: $white;
      background:$primary_hover;
    }

    &:active {
      color: $white;
      background:$primary_over;
    }
  }

  &:hover {
    color:$primary_hover;
    border-color:$primary_hover;
  }

  &:active {
    color:$primary_over;
    border-color:$primary_over;
  }

  &.disable {
    color:#ccc;
  }

  &.clicked {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    border-radius: inherit;
    border: 0 solid $primary;
    opacity: 0.4;
    animation: buttonEffect 0.32s ease forwards;
    display: block;
  }
}

@keyframes buttonEffect {
  to {
    opacity: 0;
    top: -5px;
    left: -5px;
    bottom: -5px;
    right: -5px;
    border-width: 5px;
  }
}