@import './function';

.rui-button {
  @include simple-btn(false, #ededed, $text1);
  @include prefixer('border-radius', 2px 2px);
  @include prefixer('transition', background-color .3s ease-out,border-color .3s ease-out);
  @include prefixer('user-select', 'none');

  &.primary {
    @include simple-btn(false, $primary, $white);
    background:#2ea3dd;

    :hover {
      background:#30abe8;
    }

    :active {
      background:#2ea3dd;
    }
  }

  &:hover {
    background:#e1e1e1;
  }

  &:active {
    @include prefixer('box-shadow', inset 0 3px 5px rgba(0,0,0,.15));
    background:#cecece;
  }

  &.disable {
    color:#ccc;
  }
}