@import './function';

.rui-datepicker {
  position:relative;
  width:110px;
  font-size:12px;

  &.range {
    width:190px;

    >.rui-input {
      width:190px;
    }
  }

  >.rui-input {
    width:110px;
  }

  &-input-icon {
    background:#fff url(../img/datepicker.png) no-repeat;
    background-position:right 9px;
  }

  @at-root .range &-calendar {
    float:left;
  }

  @at-root .range &-popup {
    width:540px;

    .range-container {
      margin-bottom:10px;
      padding-left:10px;
      clear:both;
      height:38px;
      input {
        width:86px;
        margin-right:20px;
      }

      .right .rui-button:last-child {
        margin-left:10px;
      }
    }
  }

  &-calendar:first-child {
    margin-left:0;
  }

  &-calendar {
    width:262px;
    height:235px;
    border:1px solid #eceaea;
    margin-left:12px;

    &-title {
      border-bottom:1px solid #eceaea;
      text-align:center;
      line-height:36px;
    }

    &-left {
      background:url(../img/arrow.png) no-repeat;
      background-position:6px -72px;
      display:block;
      width:36px;
      height:36px;
      float:left;

      &:hover {
        background-position:6px -108px;
      }
    }

    &-right {
      background:url(../img/arrow.png) no-repeat;
      background-position:15px -0px;
      display:block;
      width:36px;
      height:36px;
      float:right;

      &:hover {
        background-position:15px -36px;
      }
    }

    &-table {
      width:100%;
      line-height:28px;
      thead {
        color:#999;

        tr {
          border-bottom:1px solid #eceaea;
        }
      }

      tbody {
        tr {
          text-align: center;
        }

        td {
          cursor:pointer;
          @include prefixer('border-radius', 2px 2px);

          &:hover,&.selected,&.ranged:hover {
            background:#2ea3dd;
            color:#fff;
          }

          &.ranged {
            background:#eff8fc;
            color:#666;
          }

          &.disabled,&.disabled:hover {
            color:#cacaca;
            background:#fff;
          }
        }
      }
    }
  }

  &-popup {
    display:none;
    border:1px solid #74c5ee;
    padding:10px;
    position:absolute;
    top:37px;
    left:0px;
    background:#fff;
    z-index:$zindexModal;

    &-arrow {
      position:absolute;
      top:-8px;
      left:13px;
      width:14px;
      height:8px;
      background:url(../img/datepicker-arrow.png) no-repeat;
    }
  }

  &.active {
    .rui-datepicker-popup {
      display:block;
    }
  }
}