@import './function';

.rui-datepicker {
  position:relative;

  >.rui-input {
    width:120px;
  }

  &-input-icon {
    background:#fff url(../img/datepicker.png) no-repeat;
    background-position:right 9px;
  }

  &-calendar {
    width:262px;
    height:235px;
    border:1px solid #eceaea;

    &-title {
      border-bottom:1px solid #eceaea;
      text-align:center;
      line-height:36px;
    }

    &-left {
      background:url(../img/arrow.png) no-repeat;
      background-position:6px -72px;
      display:block;
      width:36px;
      height:36px;
      float:left;

      &:hover {
        background-position:6px -108px;
      }
    }

    &-right {
      background:url(../img/arrow.png) no-repeat;
      background-position:6px -0px;
      display:block;
      width:36px;
      height:36px;
      float:right;

      &:hover {
        background-position:6px -36px;
      }
    }
  }

  &-popup {
    display:none;
    border:1px solid #74c5ee;
    padding:10px;
    position:absolute;
    top:37px;
    left:0px;
    background:#fff;
    z-index:$zindexModal;

    &-arrow {
      position:absolute;
      top:-8px;
      left:13px;
      width:14px;
      height:8px;
      background:url(../img/datepicker-arrow.png) no-repeat;
    }
  }

  &.active {
    .rui-datepicker-popup {
      display:block;
    }
  }
}