@import './function';

.rui-icon {
  display:inline-block;
  font-style:normal;
  vertical-align:baseline;
  text-align:center;
  text-transform: none;
  width:18px;
  height:18px;

  &-loading {
    background:url('../img/icon/loading.png') 0 0 no-repeat;
    @include prefixer('animation', loadingCircle 1s infinite linear);
  }
}

@keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}