@import './function';

.rui-input {
  display:inline-block;
  line-height:32px;
  height:32px;
  background:#fff;
  box-sizing: border-box;
  border:1px solid #dfdfdf;
  border-radius: 6px 6px;
  margin:0;
  outline:none;
  padding:0 10px;
  color:$text2;

  &.disable {
    background:#ececec;
    cursor: not-allowed;
    &:hover {
      border-color:$border;
    }
  }

  &:hover {
    border-color: $primary;
  }

  &.focused {
    border-color: $primary;
    @include prefixer('box-shadow', 0 0 0 2px $primary_border);
  }
}