@import './function';

$pagerColor : #2b2b2b #fff #c8c8c8;
$borderColor : #eceaea #31afee;
$backgroundColor : #fff #31afee;
.rui-pagination {
  height:24px;

  &-detail {
    @extend %float;
    color:nth($pagerColor,1);
    line-height:24px;
  }
  &-list {
    @extend %float;
    a {
      @extend %inline-block;
      width:24px;
      height:21px;
      border-width:1px;
      border-style:solid;
      border-color:nth($borderColor,1);
      text-align:center;
      line-height:21px;
      margin-left:10px;
      color:nth($pagerColor,1);
      background:nth($backgroundColor,1);
      &.select {
        border-color:nth($borderColor,2);
        color:nth($pagerColor,2);
        background:nth($backgroundColor,2);
      }
      &.disable {
        color:nth($pagerColor,3);
      }
    }
  }
}