@import './function';

$pagerColor : #2b2b2b #fff #c8c8c8;
$borderColor : #eceaea #31afee;
$backgroundColor : #fff #31afee;
.rui-pagination {
  height:24px;
  font-size:12px;

  &-detail {
    @extend %float;
    color: $text2;
    line-height:28px;
    margin:0 10px 0 0;
  }
  &-list {
    @extend %float;

    .break {
      margin:0 10px 0 0;
    }

    a {
      width:28px;
      height:28px;
      padding:0;
      margin:0 10px 0 0;
      line-height:26px;
      text-align:center;
      font-size:12px;

      .rui-icon {
        margin-top:4px;
      }
      &.select {
        background:$primary;
        color:$white;
        border:1px solid $primary;
      }
      &.disable {
        background:$white;
      }
    }
  }
}