@import './function';

.rui-scrollview {
  width:100%;
  height:100%;
  overflow:hidden;
  position:relative;

  &-vbar {
    position:absolute;
    top:0;
    right:0;
    width:8px;
    height:100%;
  }

  &-baritem {
    position:relative;
    top:0;
    left:0;
    width:100%;
    min-height:20px;
    background:rgba(0, 0, 0, 0);
    border-radius:4px 4px;
    transition:background 0.3s;
    cursor:pointer;
    z-index:1;
  }

  .active &-baritem {
    background:rgba(0, 0, 0, 0.5);
  }
}