@import './function';

%pseudo {
  width: 0;
  height: 0;
  content: "";
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
}
.filter {
  padding:0 10px;
  input {
    width: 100%;
    height: 30px;
    display: block;
    box-sizing: border-box;
    border: 1px solid #eceaea;
    padding: 0 10px;
    margin:10px 0 0 0;
    line-height: 30px;
    color: #acacac
  }
}
.rui-theme-1 {
  &.rui-select {
    border: 1px solid #eceaea;
    &.active {
      border: 1px solid #74c5ee;
      &:before{
        border-top: 4px solid #74c5ee;
      }
    }
  }

}
.rui-theme-2 {
  &.rui-select {
    border: 1px solid #eceaea;
    text-align:center;
  }
}
.rui-theme-3 {
  &.rui-select {
    &.active {
      i {
        display: block;
        position: absolute;
        top: 37px;
        z-index:1200;
        &:before {
          @extend %pseudo;
          border-bottom: 6px solid #74c5ee;
          border-right: 6px solid transparent;
          border-left: 6px solid transparent;
          left: 14px;
          top: -6px;
          z-index: 0;

        }
        &:after {
          @extend %pseudo;
          border-bottom: 5px solid #fff;
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
          left: 15px;
          top: -5px;
          z-index: 1;
        }
      }
      &:before{
        @extend %pseudo;
        border-top: 4px solid #74c5ee;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        right: 14px;
        top: 15px;
        z-index: 0;
      }
      &:after{
        width: 13px;
        height: 12px;
        content: "";
        position: absolute;
        right: 11px;
        top: 10px;
        z-index: 0;
        -webkit-transition: .3s;
        transition: .3s;
        border: 1px solid #74c5ee;
      }
    }
    &:after{
      width: 13px;
      height: 12px;
      content: "";
      position: absolute;
      right: 11px;
      top: 10px;
      z-index: 0;
      -webkit-transition: .3s;
      transition: .3s;
      border: 1px solid #eceaea;
    }
  }
}
.rui-select {
  position: relative;
  width:300px;
  height:36px;
  line-height:22px;
  cursor: pointer;
  padding: 7px 9px;
  display: inline-block;
  box-sizing: border-box;
  background-color: #fff;
  vertical-align: middle;
  outline: 0;
    &.active{
      .rui-select-options-wrap {
        .rui-select-options {
          -webkit-transform: translate(0);
          transform: translate(0);
        }
      }
    }
    &:before{
      @extend %pseudo;
      border-top: 4px solid #787878;
      border-right: 4px solid transparent;
      border-left: 4px solid transparent;
      right: 14px;
      top: 15px;
      z-index: 0;

    }
    .placeholder {
      color:#666;
    }
    .rui-select-options-wrap {
      position: absolute;
      z-index: 1050;
      left: -13px;
      right: -13px;
      overflow: hidden;
      .rui-select-options {
        display:none;
        -webkit-transition: .45s;
        transition: .45s;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        border: 1px solid #74c5ee;
        box-shadow:0 5px 5px rgba(233, 241, 252, 0.67);
        margin: 0 12px 20px;
        background-color: #fff;
        &.one {
          display: block;
           -webkit-transform: translateY(0);
           transform: translateY(0);
        }
        ul {
          max-height: 108px;
          li {
            display:block;
            padding:0 1px;
            a {
              display:block;
              height:36px;
              line-height:36px;
              padding:0 9px;
              color:#666;
              cursor: pointer;
              &:hover {
                color:#2b99cf;
                background-color:#d6effc;
              }
            }
          }
        }
      }
    }
  .arrow {
    display:none;
  }
}