@import './function';

.rui-table {
  clear: both;

  &-header {
    width:100%;
    .rui-table-title {
      float:left;
    }
    float:left;
    color:#666;

    .rui-table-title:first-child {
      padding-left:20px;
    }
    .rui-table-title:last-child {
      padding-right: 20px;
      text-align:center;
    }

  }

  &-column {
    &:first-child {
      .rui-table-column-item,.rui-table-title {
        padding-left:20px;
      }
    }
    &:last-child {
      .rui-table-column-item,.rui-table-title {
        padding-right: 20px;
      }
    }

    float:left;
    color:#666;
    position:relative;

    &-item {
      background:#fff;
      color:#666;
      line-height:36px;
      padding:18px 0;
      word-break: break-all;
      word-wrap: break-word;
      border-bottom:1px solid #ccc;
    }

    .rui-checkbox {
      line-height:14px;
      background-position:0px -2px;
      min-height:23px;
    }
    .rui-checkbox.selected {
      background-position: 0px -38px;
    }
  }

  &-column:last-child &-title {
    text-align: center;
  }

  &-column:last-child .rui-table-column-item {
    text-align: center;
  }

  &-title {
    line-height: 38px;
    height:38px;
    padding:0;
    background:#f7f7f7;
  }

  &-scroller {
    position:relative;
    float:left;
  }
}