@import './function';

.rui-table {
  &-column {
    text-indent:20px;
    float:left;
    color:#666;

    &-item {
      background:#fff;
      color:#666;
      line-height:36px;
      padding:18px 0;
    }

    .rui-checkbox {
      line-height:14px;
      background-position:0px -2px;
      min-height:23px;
    }
    .rui-checkbox.selected {
      background-position: 0px -38px;
    }
  }

  &-column:last-child &-title {
    text-align: center;
  }

  &-column:last-child .rui-table-column-item {
    text-align: center;
  }

  &-title {
    line-height: 38px;
    height:38px;
    padding:0;
    background:#f7f7f7;
  }
}