@import './function';

.rui-textarea {
  min-height:32px;
  width:480px;
  background:#fff;
  box-sizing: border-box;
  border:1px solid #dfdfdf;
  border-radius:6px 6px;
  margin:0;
  outline:none;
  resize:none;
  padding:8px;
  color:$text2;

  &:hover {
    border:1px solid $primary;
  }

  &:focus {
    border:1px solid $primary;
    @include prefixer('box-shadow', 0 0 0 2px $primary_border);
  }
}