body {
  background:#fefefe;
}

.container {
  width:960px;
  margin:0 auto 0;

  .row {
    padding:10px;
    overflow:visible;

    .rui-select {
      width:210px;
    }
    .rui-theme-3 {
      margin-left:10px;
    }
  }

  .rui-button {
    margin-right:10px;
  }

  .rui-input {
    margin-right:10px;
  }

  .form {
    .line {
      margin:10px 0;

      &.horizonal {
        label {
          width:auto;
        }
      }

      label {
        width:84px;
        display:inline-block;
      }
    }
  }

  .bread {
    * {
      margin-right:5px;
      font-size:14px;
      color:#666;

      &:hover {
        color:#4a9df8;
        text-decoration:none;
      }

      &.selected {
        color:#4a9df8;
      }
    }
  }
}