/*loading 动画*/
@font-face {
  font-family: anticon;
  src: url('https://at.alicdn.com/t/font_1473840929_824008.eot');
  src: url('https://at.alicdn.com/t/font_1473840929_824008.eot?#iefix') format('embedded-opentype'),url('https://at.alicdn.com/t/font_1473840929_824008.woff') format('woff'),url('https://at.alicdn.com/t/font_1473840929_824008.ttf') format('truetype'),url('https://at.alicdn.com/t/font_1473840929_824008.svg#iconfont') format('svg')
}
@-webkit-keyframes diffZoomIn1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes diffZoomIn1 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes diffZoomIn2 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes diffZoomIn2 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes diffZoomIn3 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes diffZoomIn3 {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}
@-webkit-keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes loadingCircle {
  0% {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}